.banner {
  background-image: url("../../images/bordeaux.jpeg");   
	background-size: cover;     
	background-position: center;
  background-color: none;
  padding: 140px 0;
  box-shadow: 0px 5px 20px;


}

.banner h1 {
  color: white;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}
.banner h2 {
  color:black;
  font-size: 30px;
  font-weight:bolder;
  text-align: center;
  font-family: fantasy;
  bottom: 0;

 


  
}


